.main-view {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.main-section {
  color: #676767;
  display: flex;
  font-family: "Rubik", sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
}
