.main-view{
  background-color: #f9f9f9;
}

.main-section{
  display: flex;
  font-family: 'Rubik', sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  //A PARTIR DE AQUI HAY QUE PEGAR EN CASA
  .url-text-area{
    width: 70%;
    height: 1.8rem;
    /* outline: solid 1px white; */
    border-radius: 5px;
  }
  

}
.url-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
@media(max-width:720px){
  .url-form{
    flex-direction: column;
    button{
      width: 71%;
      margin-left: 0;
    }
  }
}
.url-form-body{
  text-align: center;
  background-color: blue;
  width: 100%;
}
 