.modal-container {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(27, 27, 27, 0.479);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 10000;
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 200px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 200px;
    max-width: 300px;
    max-height: 70vh;
    border-radius: 8px;
    z-index: 3000;
    padding: 1.5rem;
    background-color: #ffffff;
    overflow-wrap: break-word;
    width: 100%;
    @media (min-width: 450px) {
      max-width: 450px;
    }
  }
  .modal-content{
    overflow-y: auto;
    max-height: 70vh;
  }
}
.nav-body{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content:space-between;
  padding: 2rem;  
  border-bottom:   groove #0186da 1rem;  
  font-family: 'Rubik', sans-serif;
}
.nav-title{
  color: #0186da;
  font-size: 3rem;   
}


  .primary-button{
    
    margin-left: 0.6rem;
    color: #f9f9f9;
    background-color: #0186da;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 6rem;
    font-size: 1.2rem;       
  }
  .primary-button:hover{
    transition-duration: 0.1s;
  background-color: #f9f9f9;
  color:#0186da;
  border: solid 1px #0186da;
  }  
 
  .primary-button:active {
    transform: scale(0.9);
  }  



