.shorturl {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #e8e8e8;
  background-color: #0b1736;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
  .display-short-url {
    width: 30rem;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      margin: 2px;
      border: none;
      width: 20rem;
    }
    button:hover {
      outline: 5px solid red;
    }
  }
}
