.shorturl {
  text-align: center;
  color: #e8e8e8;
  background-color: #0b1736;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
  .display-short-url {
    button {
      border: none;
    }
  }
}
